body {
font-family: 'Microsoft YaHei';
font-size: 11pt;
color: #000;
overflow-x: hidden;
margin:0;
-webkit-text-size-adjust: none !important;
background-color:#f5f5f5;
}
h2{font-weight:normal;font-size:18pt;}
dl{padding-top:10px;}
img{max-width: 100%;height: auto;}
a { outline: 0 !important;}
.view {width:100%;padding:0;}
.view1 {width:100%;height:260px;padding:0;}
dd{line-height:35px;padding-bottom:28px;margin-left:0px;}
.zhuti{line-height:35px;padding-bottom:28px;margin-left:0px;}
.container{margin:0 auto;width: 860px;}
.kongzhi{height:68px;}
.gao1{padding-top:60px;}
.gao2{height:450px;}
.bai{color:#ffffff;}
.heibeijing{background-color: #2c303b;position: relative;}
.huibeijing{background-color:#1c1c1c;}
.huibeijing1{background-color:#000000;}
.huibeijing2{background:url("../../../images/bg.jpg") center no-repeat;position: relative;}
.huibeijing3{background-color:#353434;}
.huibeijing4{background-color:#202020;}
.anniu {cursor: pointer;background:#008bac;color:#ffffff;border:solid 0px #333; border-radius:4px;font-size:12pt;font-weight:bold;}
.anniu:hover{cursor: pointer;background:#ffba00;color:#ffffff;border:solid 0px #333; border-radius:4px;}
.anniu:active{cursor: pointer;background:#008bac;color:#ffffff;border:solid 0px #333; border-radius:4px;}
.anniu1 {display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu1:hover{display:inline-block;height:30px;background:#ffba00;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu1:active{display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu2{margin-left:20px;display:inline-block;height:30px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu2:hover{display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu2:active{display:inline-block;height:30px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu3{margin-left:20px;display:inline-block;height:30px;background:#7e7d7d;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu3:hover{display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu3:active{display:inline-block;height:30px;background:#7e7d7d;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:10px;padding-right:10px;font-size:12pt;font-weight:bold;TEXT-DECORATION: none;}
.anniu4 {display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:20px;padding-right:20px;font-size:12pt;font-weight:normal;TEXT-DECORATION: none;}
.anniu4:hover{display:inline-block;height:30px;background:#ffba00;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:20px;padding-right:20px;font-size:12pt;font-weight:normal;TEXT-DECORATION: none;}
.anniu4:active{display:inline-block;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:2px;text-align:center;border:solid 1px #ffffff;padding:3px;padding-left:20px;padding-right:20px;font-size:12pt;font-weight:normal;TEXT-DECORATION: none;}

.xuanze{text-align:left;padding-top:0px;line-height:35px;}
.xuanze ul,li{float:left;padding-right:10px;padding-left:0px;list-style-type:none;}
.xuanze input {height:35px;vertical-align:middle;}
.xuanze input[type=reset],input[type=submit],input[type=button]{letter-spacing:3px;}
.xuanze input[type=text]{letter-spacing:0px;color:#415601;}
.xuanze select {height:35px;vertical-align:middle;}
.xuanze input {height:35px;vertical-align:middle;}
.xuanze input,select{ padding-top:0px;padding-bottom:0px;}
.lv{display:inline-block;width:108px;height:30px;background:#008bac;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:1px;text-align:center;border:solid 1px #ffffff;padding:3px;font-weight:normal;}
.cu3{font-size:22pt;line-height:80px;}
.cu2{font-weight:bold;}
.cu{font-size:14pt;line-height:80px;}
.hong{color:red;}
.huang{color:#ff7800;}
A.huang4:link {COLOR: #ff9d02; TEXT-DECORATION: none;border-bottom:1px dashed #000; }
A.huang4:visited {COLOR: #ff9d02;TEXT-DECORATION: none;border-bottom:1px dashed #000; }
A.huang4:hover { COLOR: #84a440;TEXT-DECORATION: none; }
A.huang5{padding-right:6px;}
A.huang5:link {COLOR: #386c00; TEXT-DECORATION: none; border-bottom:1px dashed #386c00;font-weight:bold;}
A.huang5:visited {COLOR: #386c00;TEXT-DECORATION: none;  border-bottom:1px dashed #386c00;font-weight:bold;}
A.huang5:hover { COLOR: #ff6600;TEXT-DECORATION: none; border-bottom:1px dashed #ff6600;}
A.huang6:link {COLOR: #ffffff; TEXT-DECORATION: none; border-bottom:1px dashed #ffffff;font-weight:bold;}
A.huang6:visited {COLOR: #ffffff;TEXT-DECORATION: none;  border-bottom:1px dashed #ffffff;font-weight:bold;}
A.huang6:hover { COLOR: #fae884;TEXT-DECORATION: none; border-bottom:1px dashed #fae884;}
A.huang7:link {COLOR: #ffffff; TEXT-DECORATION: none; }
A.huang7:visited {COLOR: #ffffff;TEXT-DECORATION: none; }
A.huang7:hover { COLOR: #fae884;TEXT-DECORATION: none; border-bottom:1px dashed #fae884;}
A.huang8:link {COLOR: #ffffff; TEXT-DECORATION: none; }
A.huang8:visited {COLOR: #ffffff;TEXT-DECORATION: none; }
A.huang8:hover { COLOR: #fae884;TEXT-DECORATION: none; border-bottom:1px dashed #fae884;}

A.huang8:link {TEXT-DECORATION: none; }
A.huang8:visited {TEXT-DECORATION: none; }
A.huang8:hover { COLOR: #fae884;TEXT-DECORATION: none; border-bottom:1px dashed #fae884;}
.xuexi {background:#f4f3f3;color:#7b7b7b;line-height:25px;letter-spacing:2px;text-align:center;padding-top:25px;padding-bottom:25px;padding-left:15px;padding-right:15px;}
.shuoming {letter-spacing:2px;line-height:37px;text-align:justify;}

/* * Footer */

.bottom-footer {
background-color: #6c6c6c;
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
margin-top:10px;
position: relative;
line-height:25px;
}
.bottom-footer a{color:#e7e7e6;TEXT-DECORATION: none; }
.bottom-footer p {
color: #e7e7e6;
letter-spacing: 1.1px;
margin-bottom: 0;
text-transform: uppercase;
}

/* -  max-width: 479 */
@media (max-width: 479px) {
/* - Header Main */
.menu-search .sb-search.sb-search-open .sb-search-input {
width: 200px;
}
#sss img{display:none;}
#daohang {height:120px;}
#kz{display:none;}
#bofang{height:169px;background:url("../../../images/bg1.jpg") center no-repeat;}
#kj{height:150px;}
.container {
width: 100%;
}
/* - Page Banner */
.banner-content > img {
padding: 0 15px;
}
/* - Footer Main */
.address-box {
margin-top: 0;
}



.footer-main .ftr-widget {padding-top: 25px;padding-bottom: 25px;}
.bottom-footer .col-xs-6 {width: 100%;
}
}
.tz{display:inline-block;height:35px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:35px;letter-spacing:1px;text-align:center;border:solid 1px #ffffff;padding:3px;font-weight:normal;padding-left:10px;padding-right:10px;}
.ml{display:inline-block;width:105px;height:30px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:30px;letter-spacing:1px;text-align:center;border:solid 1px #ffffff;padding:7px;font-weight:normal;margin-right:18px;}
.ml2{display:inline-block;height:35px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:35px;letter-spacing:1px;text-align:center;border:solid 1px #ffffff;padding-left:20px;padding-right:20px;font-weight:normal;margin-left:0px;}

.bt{display:inline-block;height:35px;background:#ff9c2a;border-radius:5px;color:#ffffff;line-height:35px;letter-spacing:1px;text-align:center;border:solid 1px #ffffff;padding:3px;font-weight:normal;margin-right:20px;padding-left:30px;padding-right:30px;}
.dh{vertical-align:middle;height:35px;color:#ffffff;line-height:35px;letter-spacing:1px;text-align:center;padding:3px;font-weight:normal;padding-left:10px;padding-right:10px;margin-left:20px;font-size:12pt;}
.daohang{height:60px;padding-top:15px;}
.juzhong{vertical-align:middle;text-align:center;}
.xiaozi{font-size:11px;}
.clear{clear:both;}
#gaoxiao{text-align:left;}
#gaoxiao ul{width:100%;margin-left:0px;margin-right:-9px;padding-left:0px;padding-right:0px;}
#gaoxiao li{width:194px;text-align:center;line-height:35px;margin-left:0px;margin-right:9px;float:left;min-height:168px;}

#gaoxiao img{width:194px;height:109px;border-radius:3px;}
#gaoxiao a{color:#000;TEXT-DECORATION: none;}
#gaoxiao a:hover{color:#ff7a04;TEXT-DECORATION: none;}
.ninhao li{min-height:130px;}
.ninhao{padding-top:20px;padding-bottom:20px;float:left;width:50%;}
.ninhao a{margin-bottom:3px;display:inline-block;height:20px;background:#ccc;border-radius:3px;color:#000;line-height:16px;text-align:center;border:solid 1px #abaaaa;padding-bottom:3px;padding-top:3px;padding-left:5px;padding-right:5px;font-size:9pt;font-weight:normal;TEXT-DECORATION: none;}
.ninhao a:hover{display:inline-block;height:20px;background:#008bac;border-radius:3px;color:#000;line-height:16px;text-align:center;border:solid 1px #abaaaa;padding-bottom:3px;padding-top:3px;padding-left:5px;padding-right:5px;font-size:9pt;font-weight:normal;TEXT-DECORATION: none;}
.ninhao a:active{display:inline-block;height:20px;background:#ccc;border-radius:3px;color:#000;line-height:16px;text-align:center;border:solid 1px #abaaaa;padding-bottom:3px;padding-top:3px;padding-left:5px;padding-right:5px;font-size:9pt;font-weight:normal;TEXT-DECORATION: none;}
.kuan1{width:160px;text-align:center;padding-top:5px;}
.kuan2{width:68%;}
.pd{padding-top:25px;padding-bottom:35px;}
.gengxin{color:#9b9a9a;font-size:11pt;letter-spacing:0px;}
.gonggao{bottom:0;position:absolute;margin:0px;width:100%;background-color:rgba(0,0,0,0.1);height:35px;vertical-align:middle;line-height:35px;font-size:10pt;color:#e1e1e1;letter-spacing:3px;color:#ffffff;}
.yanse1{color:#fcd001;}
.yanse2{color:red;}
.yanse3{color:#ff7200;}
.fenye{padding-top:20px;}
.liangduan{text-align: justify;}
.place a{COLOR: #ff9d02; TEXT-DECORATION: none;border-bottom:1px dashed #000;margin:0px 2px;}
.place a:hover{color:#84a440;margin:0px 2px;TEXT-DECORATION: underline;}
.context a{COLOR: #ff9d02; TEXT-DECORATION: none;border-bottom:1px dashed #000;margin:0px 2px;}
.context a:hover{color:#84a440;margin:0px 2px;TEXT-DECORATION: underline;}
.huanrao img{float:left;margin-right:10px;margin-top:10px;}
.jiange{padding-bottom:130px;}
.e2{width:100%;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;} 
.e2 li{width:100%;overflow:hidden;clear:both;padding-bottom:30px;color:#aaa;}
.e2 li b a{color:#555;}
.e2 li a.preview{width:160px;float:left;padding-right:20px;margin-bottom:3px;margin-left:0px;display:inline;}
.e2 li a.preview img{width:160px;display:block;padding:1px;border:1px solid #EEE;}
.e2 li a.preview:hover img{border:1px solid #AAA;}
.e2 li a.title{color:#000000;TEXT-DECORATION: none;overflow:hidden;line-height:25px;font-size:12pt;margin-left:5px;}
.e2 span.info{display:block;line-height:23px;color:#555;padding-left:12px;}
.e2 span.info small{color:#AAA;font-size:12px;margin-left:3px;}
.e2 span.info a{color:#690;}
.e2 p.intro{color:#878585;line-height:20px;margin-left:5px;padding-left:10px;padding-right:10px;}

.dede_pages ul{float:left;padding:12px 0px 12px 16px;}
.dede_pages ul li{float:left;font-family:Tahoma;line-height:17px;margin-right:6px;border:1px solid #E9E9E9;}
.dede_pages ul li a{float:left;padding:2px 4px 2px;color:#555;display:block;}
.dede_pages ul li a:hover{color:#690;text-decoration:none;padding:2px 4px 2px;}
.dede_pages ul li.thisclass,.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{background-color:#aaaaaa;padding:2px 4px 2px;font-weight:bold;}
.dede_pages .pageinfo{line-height:21px;padding:12px 10px 12px 16px;color:#999;}
.dede_pages .pageinfo strong{color:#555;font-weight:normal;margin:0px 2px;}
.dede_pages{float:none;overflow:hidden;text-align:center;}
.dede_pages ul{margin:0px auto;float:none;clear:both;overflow:hidden;text-align:center;white-space:nowrap;}
.dede_pages ul li, .dede_pages ul li a{float:none;display:inline;}
.icon-top { width: 40px; height: 40px; display: block; background: url(/images/top.png) no-repeat center #2c303b; right: 80px; bottom: 10%; position: fixed }